/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* Primary Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral Colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  /* Font Family */
  --f-fam: "Poppins", sans-serif;
  /* Font Weight */
  --thin-font: 200;
  --normal-font: 400;
  --bold-font: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile version */

body {
  background-color: var(--very-light-gray);
  font-family: var(--f-fam);
}
/* Header CSS style */
.header {
  margin: 100px auto;
  max-width: 475px;
  text-align: center;
  padding: 0 20px;
}

.header-title {
  color: var(--very-dark-blue);
  font-size: 25px;
  font-weight: var(--thin-font);
  text-align: center;
}

.header-subtitle {
  font-size: 25px;
  color: var(--very-dark-blue);
  text-align: center;
  font-weight: var(--bold-font);
}

.header-description {
  text-align: center;
  font-size: 16px;
  color: var(--grayish-blue);
  font-weight: var(--normal-font);
  margin-top: 25px;
}

/* Cards CSS style */

.card-container {
  margin: 80px 30px;
}

.card {
  border-radius: 8px;
  padding: 30px 20px;
  margin-bottom: 3rem;
  box-shadow: 0 16px 32px 8px #dedede;
}

.card-supervisor {
  border-top: 5px solid var(--cyan);
}
.card-team-builder {
  border-top: 5px solid var(--red);
}

.card-karma {
  border-top: 5px solid var(--orange);
}
.card-calculator {
  border-top: 5px solid var(--blue);
}
.card-text {
  text-align: start;
}
.card-title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: var(--bold-font);
  color: var(--very-dark-blue);
}
.card-description {
  font-size: 15px;
  color: var(--grayish-blue);
}
.card-img {
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

/* Destop Version */

@media screen and (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "left mid1 right" "left mid2 right";
  }
  .card-supervisor {
    grid-area: left;
    align-self: center;
  }
  .card-team-builder {
    grid-area: mid1;
  }
  .card-karma {
    grid-area: mid2;
  }
  .card-calculator {
    grid-area: right;
    align-self: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
